@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div class="container hidden-phone">
    <div id="categorias" class="box">

        @{
            int i=0;

            foreach (PrecoInfo.Domain.ComponenteProduto.Categoria categoria in @ViewBag.Categorias)
            {
                if(i==0)
                {
                      @:<div class="row">
                }
                
                string classe = "span4 categ-pai cat" + i;

                    @:<div class="@classe">  
                    @:<a href="Resultados?id=@categoria.Id" rel="bookmark">
                @:<img src="@categoria.NomeImagem"><br/>@categoria.Nome</a><br/>

                foreach (PrecoInfo.Domain.ComponenteProduto.Categoria subCategoria in @categoria.SubCategorias)
                {
                     @:<span class="categ-filha">
                     @:<a href="@subCategoria.NomeImagem" rel="bookmark">@subCategoria.Nome</a>
                     @:</span>
                     @:<br>
                }                  
                
                @:</div>

                if(i==2)
                {
                    @:</div>
                    i = 0;
                }
                else
                {
                    i++;
                }
            }
        }

      
    </div>

</div>

